DEBUG=True
ALEMBIC_RUN_MIGRATIONS=False

POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DBNAME=postgres

KAFKA_ENABLED=True
KAFKA_TEST_MODE=True
KAFKA_BROKER_URL=localhost:29092

SIREN_API_ENABLED=False

SMTP_ENABLED=False
